{
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react"
      ],
      "plugins": [
        "prettier",
        "react"
      ],
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      }
    }
  }